@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-botao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  background-image: url("../machine_slot_capybara.png");
  background-size: cover;
  height: 1080px;
  width: 720px;
}
.container-botao .botao {
  margin-top: 15px;
  margin-left: 180px;
}
.container-botao .botao #girarbotao {
  font-weight: bold;
  color: black;
  font-size: 20px;
  height: 100px;
  width: 355.5px;
  padding: 10px 20px;
  background-color: #D86E2C;
  border: none;
  cursor: pointer;
}
.container-botao .botao #girarbotao:disabled {
  background-color: #854219;
  color: black;
  cursor: not-allowed;
}

@keyframes vitoria {
  0% {
    background: linear-gradient(45deg, orange 0%, yellow 100%);
    box-shadow: 0 0 80px orange;
  }
  100% {
    background: linear-gradient(45deg, #642C0A 0%, #D86E2C 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
.vitoria {
  animation: vitoria 200ms steps(2, end) infinite;
}

.container-checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
}
.container-checkbox input[type=checkbox] {
  margin-bottom: 15px;
  background-color: #353434;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container-checkbox input[type=checkbox]:hover {
  color: black;
}
.container-checkbox input[type=checkbox]:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.container-checkbox input[type=checkbox]:checked {
  background-color: #353434;
  color: #fff;
  accent-color: #353434;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
  margin: 0 auto; /* Centraliza o container horizontalmente */
  transform: none; /* Remove a escala */
  width: 100%; /* Garante que o container ocupe toda a largura */
  max-width: 720px; /* Limita a largura máxima para telas maiores */
  height: auto; /* Ajusta a altura automaticamente */
  margin-top: 405px;
  margin-left: 165px;
}
.container .maquina {
  transform: scale(1.55); /* Ajusta o tamanho da máquina */
  width: 276.5px;
  height: 237px;
  border: 4px solid black;
  padding: 23.7px;
  display: flex;
  background: linear-gradient(45deg, #642C0A 0%, #D86E2C 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  z-index: 1;
  justify-content: space-between;
}
.container .maquina .roda {
  border: 1px solid black;
  width: 79px;
  height: 237px;
  background-image: url("../slotreel.webp");
  background-repeat: repeat-y;
  box-shadow: 1px -2px 20px rgba(0, 0, 0, 0.2) inset;
  background-position: 0 0;
  z-index: 1;
}
.container .personagem {
  margin-left: -60px;
  margin-top: 285px;
  z-index: 2;
  visibility: hidden;
}
.container .personagem img {
  width: 144px;
  height: 201.6px;
}

/*# sourceMappingURL=style.css.map */
